html {
  background: url(https://github.com/okouznet/personal-website/blob/feature/refactor/templates/profile.jpg?raw=true) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1.homepage {

    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    object-position: center;
    letter-spacing: 3px;
    color: 	#FFFFFF;
    font-size: 300%;
}

div.transparent {
  margin: 30px;
  background-color: #FFFFFF;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  overflow: scroll;
}

div.transparent p {
  margin: 5%;
  font-weight: bold;
  color: black;
  font-family: Arial, sans-serif;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin-left: 30%;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    width: 100%;
    display: none;
    padding: 6px 12px;*
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent h2.resume{
    font-family: Arial, sans-serif;
    text-align: center;
    object-position: center;
    letter-spacing: 1px;
    color: black;
}

.tabcontent h3.resume{
    font-family: Arial, sans-serif;
    text-align: center;
    object-position: center;
    letter-spacing: 1px;
    color: black;
}

.tabcontent h4.resume {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
}
.tabcontent p.resume {
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}
.tabcontent table.resume {
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
}

.tabcontent table.resume td.name {
    width: 30%;
}
.tabcontent table.resume td.info{
    width: 70%;
}
.tabcontent table.resume ul.resume li{
    font-family: Arial, sans-serif;
    line-height: 200%;
    color: black;
}