<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/javascript " src=""></script>
    <title>Garch Modelling</title>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css') }}">
    <script src="{{url_for('static', filename='javascript/script.js')}}"></script>
</head>
<body>

<h1 class = "project"> <strong>GARCH Modeling of Stock Returns</strong> </h1>
<!--<img src="/Users/sashalefevre/Pictures/facebook.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">-->
<h2 class = "project"> Do Macroeconomic shocks effect sector stock returns? If so, could information about macroeconomic announcements be used to predict equity returns?</h2><br>

<h3 class = "project">The Data</h3>
<p class = "project"> The following stocks were used to model sector equity returns (obtained from Yahoo! Finance):<br>
    XLE = Energy Select<br>
    XLP = Consumer Staples<br>
    XLY = Consumer Discretionary<br>
    XLK = Technology<br>
    XLF = Financial<br>
    XLV = Health Care<br>
    XLI = Industrial<br>
    XLB = Materials<br>
    XLV = Real Estate<br>
    XLI = Utilities<br>

    <br>
    Data for the following macroeconomic shocks were used (queried from ALFRED, the Federal Reserve's historical data): <br>
    Gross Domestic Product, University of Michigan's Consumer Confidence Index, Consumer Price Index
</p>

<h3 class = "project">Preliminary Analysis</h3>
<p class = "project">
First we want to analyze whether or not there is an existing relationship between these macroeconomic announcements and stock returns. We can assess this relationship using a correlation matrix. <br><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/corrMatrix.png?token=f12f0ec0482df42f43627a1d9dcc91493e46b38c"
	 alt="Correlation Matrix"><br><br>
For example, we can see that XLP (Consumer Staples) does seem to have some sort of (weak) relationship with GDP, Sentiment Index, and CPI. <br>

First we want to determine whether or not the stock sector of interest is a stationary time series. In order for a time series to be stationary, there must be a constant mean and constant variance, as well as an autocovariance that is time-independent (that is, the current value does not depend on past values). We can analyse this with rolling statistics analysis. In the figure below, we see that the rolling mean has an increasing trend and that the rolling standard deviation is not completely constant: <br><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/a7d99ab19af57a40a6c670087c47fb358ed2ce39/StationaryTest.png?token=277122650d6529dda00df2c5800be7c03fcb39a6"
	 alt="Rolling Statistics Graphs"><br><br>


We can also use a Dickey-Fuller Test, where the null hypothesis states that the time series is not stationary. <br><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/DFTest.png?token=ec751b54487b4fc594bafda7c148355dfdcd16e9"
     alt="Dickey-Fuller Test"><br><br>
Since the p-value is 0.85 and that is greater than significance level of 0.05, we fail to reject the null hypothesis. Therefore this time series is not stationary.

This is why we turn to a model that does not require stationary data.
</p>
<br>

<h3 class = "project">The Model</h3>
<p class = "project">A generalized autoregressive conditionally heteroskedastic (GARCH)model was used in this study. This model allows for conditional volatility, which traditional regression models generally to not allow for. Returns are modelled using the following equations: <br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/ARCH11.png?token=4e65439ca3a7e012e7373eadcd0246ab874fba0f"
     alt="ARCH(1,1) Equation"><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/Error.png?token=35c99d58ac627d9b160da6d535dd40ceae464d86"
     alt="Error Term Equation"><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/GARCH11.png?token=5ec8ae5ac06b484e3929f5867ed2109123ae9cdd"
     alt="GARCH(1,1) Equation"><br>

Equation (1) states that today's return is dependent on a constant value as well as previous returns
Equation (2) states that we can account for some error because we know how persistent volatility is. <br>
<br>

We can now normalize for seasonality effects such as the January, End-of-Year, and Monday effects, thereby normalizing those effects in our model Finally, we see if we can explain any additional variance due to macroeconomic shocks by adding in more variables. We get our finalized model below:
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/FullGARCHModel.png?token=45ccbc291246a922f5ea78db2bd3ae4fd22534a2"
     alt="Full Garch Model"><br>
Equation (1) and (2) takes place of the AR(1,1) model above, where equation (1) contains all of the shock variables and equation (2) normalizes various seasonal effects. Equations (4) and (5) elaborate on the simple GARCH(1,1).
</p>
<h3 class = "project">Implementation</h3>
<p class = "project">
There are no modifiable GARCH packages for either R or Python, so the parameter estimation technique must be written from scratch. A maximum likelihood estimation technique was used as shown below:
<br>
</p>

<h3 class = "project">Results</h3>
<p class = "project">
Here is a graph of the actual values versus the fitted values that the MLE model generates:<br><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/ActualvsFitted.png?token=7cd6a03685eecd6ee0ad4e5ca5e9ffc669519aee"
     alt="Actual Values vs Fitted Values Plot"><br><br>

Fitted values can be calculated and compared to the actual values for goodness-of-fit. In order to statistically validate our results, we must check residuals for a normal distribution. <br><br>

<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/ResidualTest.png?token=e601c6cacafc0d7876d7f1f966e1ef978d277b47"
     alt="Residual Graphs"><br><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/QQPlot.png?token=70e6b1696e6618e1a50cf567ac42a26041c86638"
     alt="Normal Probability Plot"><br><br>

Analyzing the graphs above, the residuals seem to have a normal distribution.<br>
Now we also must test for autocorrelation - if autocorrelation exists, then the variables chosen in our model are insufficient in explaining recurring trends. In other words, there is a portion of the error term that we can reduce but have failed to do so. One test for autocorrelation can be done  by analyzing a Autocorrelation (ACF) Plot. <br><br>
<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/a7d99ab19af57a40a6c670087c47fb358ed2ce39/autocorrelation.png?token=b95f3da8b28c877592148fe4ce3ce6b685841b9f"
     alt="ACF Plot"><br><br>

We can also use a Ljung-Box/Box-Pierce Test to analyze autocorrelation, where null hypothesis states that there is no autocorrelation. <br><br>

<img src="https://bytebucket.org/alefevre/alefevre.bitbucket.org/raw/e53fa518dc1ad1ac221322da42e791abc8f36cd0/LBTest.png?token=cb79931757e6eae71137bceef4f9744e8c159889"
     alt="Ljung Box Test"><br><br>
Since the p-value is much larger than 0.05, we fail to reject the null hypothesis and therefore conclude that autocorrelation does not exist. Typically, autocorrelation can be eliminated by increasing the number of lags or by adding more explanatory variables to the model.
<br>
</p>
<h3 class = "project">Next Steps</h3>
<p class = "project">
  Currently I am working on testing the accuracy of the MLE parameter estimation. It seems that the values on which the estimation converges on is dependent on the initial parameter estimates.

</p>
<h3 class = "project">Code</h3>
<p class = "project">
  Code for this project can be found at: <br>
  <a href="https://github.com/okouznet/GarchModel"
     class="tablinks"
     target="_blank">Repository</a>

</p>
</body>
</html>