<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <script type="application/javascript " src=""></script>
  <title>Personal Website</title>
  <meta charset="UTF-8">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css') }}">
  <script src="{{url_for('static', filename='javascript/script.js')}}"></script>
</head>

<body>

<h1 class = "homepage"> <strong>Alexandra Lefevre</strong> </h1>

<div class="transparent">
    <ul class="tab">
        <li><a href="#" class="tablinks">Resume</a></li>
        <li><a href="#" class="tablinks">Projects</a></li>
        <li><a href="#" class="tablinks">Coursework</a></li>
        <li><a href="#" class="tablinks">Contact</a></li>
    </ul>

    <p>This is some text that is placed in the transparent box.</p>
</div>

</body>
</html>


