<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <script type="application/javascript " src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Personal Website</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}">
    {#  <script src="{{url_for('static', filename='javascript/script.js')}}"></script>#}
</head>

<body>

<h1 class="homepage" onclick="GoToHomePage()"><strong>Alexandra Lefevre</strong></h1>


<div class="transparent">
    <ul class="tab">
        <li><a href="#" class="tablinks" onclick="openPage(event, 'Resume')">Resume</a></li>
        <li><a href="#" class="tablinks" onclick="openPage(event, 'Projects')">Projects</a></li>
        <li><a href="#" class="tablinks" onclick="openPage(event, 'Publications')">Publications</a></li>
        <li><a href="#" class="tablinks" onclick="openPage(event, 'Contact')">Contact</a></li>
    </ul>


    <!-- RESUME TAB-->
    <div id="Resume" class="tabcontent">
        <h2 class="resume"><strong>University of Michigan, B.S. Computer Science</strong></h2>
        <hr>
        <h2 class="resume"><strong>Work Experience</strong></h2>
        <table class="resume">
            <tr>
                <td class="name">
                    <h4 class="resume">Software Engineer</h4>
                    <p class="resume"> JP Morgan Chase & Co <br>Jul 2017 - Present</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Java/ Scala Developer on Big Data team</li>
                        <li>Building out application to generate consumer-specific insights based on spending patterns
                            for millions of users
                        </li>
                        <li>Enriching and optimizing data processing using Cassandra, Spark, and Hadoop</li>
                    </ul>
                </td>
            </tr>
        </table>
        <table class="resume">
            <tr>
                <td class="name">
                    <h4 class="resume">Data Analytics Intern</h4>
                    <p class="resume"> TD Ameritrade <br>Jun 2016 - Present</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Built a financial model to analyze effect of macroeconomic shocks on sector stock returns
                        </li>
                        <li>Used natural language processing methods to build a classification system for client
                            communications
                        </li>
                        <li>Used R, Python, Java for these projects, along with GARCH modeling, Maximum Likelihood
                            Estimation and other statistical methods
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <table class="resume">
            <tr>
                <td class="name">
                    <h4 class="resume">Statistics Intern</h4>
                    <p class="resume">Federal Reserve Bank of Chicago<br>Jun 2015 - Aug 2015</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Evaluated auditing reports of entities in the 7th District to assess compliance of federal
                            regulations and to validate internal control structure
                        </li>
                        <li>Led and performed thorough analysis to ensure data quality for the Federal Reserve's
                            deposit-related reporting series
                        </li>
                        <li>Managed communication with depository institutions to further investigate data fluctuations
                            and integrity, as well as provide reasoning for the data to the Federal Reserve Board
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <table class="resume">
            <tr>
                <td class="name">
                    <h4 class="resume">Cancer Research Lab Assistant </h4>
                    <p class="resume">Northwestern University, University of Michigan<br>June 2010 - January 2014</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Helped graduate students with delicate experiments, requiring attention to detail</li>
                        <li>Collaborated on various experiments and worked with multidisciplinary groups</li>
                        <li>Worked independently on portions of the experiments</li>
                    </ul>
                </td>
            </tr>
        </table>
        <hr>

        <h2 class="resume"><strong>Skills</strong></h2>
        <table class="resume">
            <tr>
                <td class="name">
                    <h4 class="resume">Languages</h4>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>C++, Python, Java, Scala, R, Unix Scripting</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="name">
                    <h4 class="resume">Data Analytics</h4>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Natural Language Processing, Financial Modelling, Machine Learning, Hadoop, Spark, Scikit
                            Learn
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="name">
                    <h4 class="resume">Misc.</h4>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Fluency in Russian and French</li>
                    </ul>
                </td>
            </tr>
        </table>
        <hr>
        <a href="{{ url_for('static', filename='Resume.pdf') }}" target="_blank"><h2 class="resume">Download Resume</h2>
        </a>
    </div>

    <!--PROJECTS TAB-->
    <div id="Projects" class="tabcontent">
        <table class="resume">
            <tr>
                <td class="name">
                    <h4 class="resume">Europa Mission Research Project</h4>
                    <p class="resume"> University of Michigan — NASA <br> Jan 2016 - Jan 2017</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Writing Python script in order to convert electric currents into numeric values
                            for data analysis
                        </li>
                        <li>Product will be used by organizations such as NASA</li>
                        <li>Working with a multidisciplinary team</li>
                        <li>Skills: Python, C++, GUI design, statistics</li>
                    </ul>
            </tr>
            <tr>
                <td class="name">
                    <a href="{{ url_for('garch') }}" target="_blank">
                        <h4 class="resume">GARCH Analysis of Stock Returns</h4>
                    </a>
                    <p class="resume"> TD Ameritrade <br> May 2016 - Sep 2016</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Analyze impact of macroeconomic shocks on stock returns</li>
                        <li>Used historical data from Federal Reserve and stock data from Yahoo! Finance</li>
                        <li>Run a series of statistical tests to choose correct model</li>
                        <li>Analyze effectiveness of model and make future stock return forecasts</li>
                        <li>Skills: R, Time Series Modelling, MLE, Model Validation, Statistics</li>
                    </ul>
            </tr>
            <tr>
                <td class="name">
                    <a href="https://arxiv.org/pdf/1708.07104.pdf" target="_blank">
                        <h4 class="resume">Fake News Detection</h4>
                    </a>
                    <p class="resume"> University of Michigan<br> Jan 2017 - May 2017</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Used Natural Language Processing (NLP) and Information Retrieval (IR) techniques to
                            differentiate between fake and real news
                        </li>
                        <li>Trained model using sentiment, semantic, and IR features</li>
                        <li>Achieved 89% accuracy, .80 AUC using a balanced test set containing 1000 articles</li>
                        <li>Implemented techniques such as web scraping, page rank algorithms, support vector machines,
                            stratified cross-validation, and hyper-parameter tuning
                        </li>
                        <li>Skills: Information Retrieval, NLP, ML, Statistics</li>
                    </ul>
            </tr>
            <tr>
                <td class="name">
                    <a href="http://music-composers.herokuapp.com/" target="_blank">
                        <h4 class="resume">Piano Composition Web Application</h4>
                    </a>
                    <p class="resume"> University of Michigan <br> Sep 2016 - Jan 2017</p>
                </td>
                <td class="info">
                    <ul class="resume">
                        <li>Creating a web application for users with limited motor ability in one or both hands</li>
                        <li>User will be able to compose complex pieces of music by recording a composition in pieces
                        </li>
                        <li>Composition is created by overlaying the recorded pieces of music</li>
                        <li>Skills: Python, Python Flask, Javascript, CSS, HTML, GUI design</li>
                    </ul>
            </tr>
        </table>
    </div>

    <!--Publications TAB-->
    <div id="Publications" class="tabcontent">

        <table class="resume">
            <tr>
                <td class="name">
                    <h4 class="resume">2017</h4>
                </td>
                <td class="info">
                    <ul class="resume">
                        Pérez-Rosas, V., Kleinberg, B., Lefevre, A., and Mihalcea, R. 2017. “Automatic Detection of Fake
                        News,” International Conference on Computational Linguistics 2018: 3391-3401
                        <br>
                        <a href="https://arxiv.org/pdf/1708.07104.pdf" target="_blank">pdf</a>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <!--CONTACT TAB-->
    <div id="Contact" class="tabcontent">
        <h2 class="resume"><strong>708-275-2094</strong></h2>
        <h2 class="resume"><strong>alefevre@umich.edu</strong></h2>
        <a href="https://github.com/okouznet" target="_blank"><h2 class="resume">Github Repository</h2></a>
        <a href="{{ url_for('static', filename='Resume.pdf') }}" target="_blank"><h2 class="resume">Download CV</h2></a>
    </div>
</div>


</body>
</html>


